{% load humanize %}

<div class="card card-default">
    <div class="card-header">
        <strong>EVPN Info</strong>
    </div>
    <div class="card-body">
        <table class="table table-hover attr-table">
            <tbody>
                <tr>
                    <td>
                        <span title="">EVPN VC</span>
                    </td>
                    <td>
                        <span><a href="{{ evpnvcvlan.evpn_vc.get_absolute_url }}">{{ evpnvcvlan.evpn_vc.name }}</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Type</span>
                    </td>
                    <td>
                        <span>{{ evpnvcvlan.evpn_vc.vc_type.name }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>VNI</span>
                    </td>
                    <td>
                        <span><a href="{{ evpnvcvlan.evpn_vc.get_absolute_url }}">{{ evpnvcvlan.evpn_vc.vni }}</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
